 /* Background layer */
 .homepage-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/images/background.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(8px);
    z-index: -1;
    outline: 10px solid blueviolet; 
  }